{% extends "base.html" %}

{% block title %} {{ program_name }}{% endblock %}

{% block main %}
{{ desc }}
<form class="cmd_form" method="POST" enctype="multipart/form-data">
{% for field in form %}
        {{ field.label }}
        {{ field }}
        {{ field.description}}
        {% for error in field.errors %}
            {{ error }}
        {% endfor %}
{% endfor %}
<br></br>
<input class="btn btn-primary btn-large" type="submit" name="submit_button" value="Run">
</form>

{% if dirs %}
<div id="show-dirs">
    <ul>
    {% for d in dirs %}
    <li><a href="#dir-{{ d.name }}">{{ d.name }}</a></li>
    {% endfor %}
    </ul>
    {% for d in dirs %}
    {{ d.html()|safe }}
    {% endfor %}
</div>
<script>$('#show-dirs').tabs();</script>
{% endif %}

<h2>Output</h2>
{% if output_type == 'pre' %}
<pre>
{{ output }}
</pre>
{% else %}
{{ output }}
{% endif %}

{% endblock %}
